.Login{
    background: url('../../assets/images/vote.png') no-repeat center center/cover;
    width: 100%;
    height: 100%;
}
.Login form {
    padding: 10px;
    background-color:rgba(255, 255, 255,0.9);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 40%;
    height: 60%;
    transition: all 0.5s ease-in-out;
}

.msg-spinner-container{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Login input{
    width: 100%;
    height: 40px;
    padding-left: 10px;
}
.Login label{
    text-align: left;
    width: 100%;
}

/* spinner */
.col-sm-2 {
    padding: 10px;
    border-radius: 4px;
    height: 125px;
    margin-bottom: 10px;
}

.sp {
    width: 32px;
    height: 32px;
    clear: both;
    margin: 20px auto;
}

/* Spinner Hydrogen */
.sp-hydrogen {
    position: relative;
    border: 1px #000 solid;
    border-radius: 50%;
    -webkit-animation: spHydro 0.6s infinite linear;
    animation: spHydro 0.6s infinite linear;
}
.sp-hydrogen:before,
.sp-hydrogen:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 50%;
}
.sp-hydrogen:before {
    top: calc(50% - 5px);
    left: calc(50% - 5px);
}
.sp-hydrogen:after {
    top: -1px;
    left: -1px;
}
@-webkit-keyframes spHydro {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
@keyframes spHydro {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
