.Vote{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap !important;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: calc(100vh - 100px);
    padding: 10px 20px;
    gap: 20px;
}
.title-container{
    height: 300px;
    width: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    border-radius: 6px;
}
.Vote h1{
    border: none;
    text-align: center;
    background-color: none;
}
.candidates-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    height: 50%;
    
}